/*external css/external styling*/
/* inline- 100
	internal - 10
	external- 50

	specifity

	Relative lengths
		-are lengths that change relative to something
			-% unit for percentage
			-em relative to the current font size
			-rem relative to the current font size on the HTML element
			-vw relative to the width of the viewport divided by 100
			-vh relative to the height of the viewport divided by 100
	Absolute Lengths
		- lengths that do not change
			-px unit of pixel
			-in unit of inches
			-pt unit of points

*/

/*Universal Selectors allows to select all the elements*/

*{
	/*
	All elements will now have a font style of Courier New and the default will be about 20px
	Monospace is a fallback font. In the event that the machine used to view your documents does not have the declared font, we will fallback to similar font

	Font-family:  are the changes the font style of the text;
	Font-size:  changes the size of the text;
	*/
	font-family: "Courier New", monospace; 
	font-size: 20px;
	/*CSS Reset*/
	margin: 0;
	padding: 0;
}


/*selectors - used to select elements bu their tag name*/

body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

nav	{
	background-color: white;
}
/*type selector allows to select all elements oif the same type
*/

h1	{
	color: black !important;
	text-align: center;
	font-size: 2rem;

	/*rem is a measurement which means num* the default size of the root elements's font (16px)*/
}

h2 {
	font-size: 1.5rem;
}

section	{
	height: 100vh;
	/*vh=viewport height= this measurement takes the percentage of the overall height of the screen you are viewing*/
	text-align: center;
	/*text-align allows to align text horizontally*/
}

/*id selector it is given more priority than other selector*/
#zuitt-motto {
	letter-spacing: 5px;
}

/*class selector for elements of the same classes*/
.offering-item {
	text-transform: uppercase;
}

/*attribute selector- allows to select a particular elements with the same attribute
	tagnmane[attribute]
		border-width: allows to determine the thickness of an elements border;
		border-style: allows to determine the style of the border;
		border-color: allows to determine the color of an element's border;
*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
	/*we defined the width of the input to be atleast 90% of the width of its parent element*/
}

/*Adjacent Sibling Selector - allows to select a particular element that immediately follows a sibling element selector + selector
	height and width properties will resize the element
	border radius- roundds out the corner of an element. The higher the border-radius the more it become circular*/

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;

}

/*Descendant Selector - allows to select elemenets that are the descenedants of the first selector (anscestor)
ancestor descendant
	color property and other similar properties can also accept hex values. Hexodecimal values consist of # +combi of 6 alpha numeric characters.
*/

#bootcamp-learning-list li{
	color:  #075966;
}

/*Genera; Sibling Selector - allows to select siblings that are after our previous sibling (furst selector)
sibling ~ selected sibling

*/

/* h2 ~ a {
	text-decoration: none;
} */

/* Register section */

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	/*position property changes the position of an element based in a certain criteria
	poition:  relative - allows to move the position property to add a certain measurement to the left of the element.
	the value % is abse don the measurement of the parent element.
	the parent element being the section tag which is a black element and occupies the full width of the page.

	in this the value of the left property*/
	position: relative;
	left: 37.25%;
}

/*Child Selector allows to select a particular child of parent element.
parent > child
*/
section > form > label {
	color: rgb(0, 0, 128);
}

/*Mini Activity
Style our button with the ff specs: 
	- text of the button should be white
	- the background color of the button has a hex value of #cf0053
	- it should have zero border
	-its border radius should be atleast 15px
	*/

button {
	color: white;
	background-color: #cf0053;
	border: 0;
	border-radius: 20px;
	padding: 3px;
	margin-top: 2px;
}
