*{
	font-family: Verdana, sans-serif;
	font-size: 20px;

}

body {
	background-color: #87ACA3;
}

h2 {
	text-align: center;
	color: #8B0000;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: whitesmoke;
}

h1 {
	font-size: 3rem;
	text-align: center;
}

h2 {
	text-transform: uppercase;
	font-size: 1.5rem;
	color: #FFA500;
}

ol {
	list-style: none;
}

section {
	height: 100vh;
	text-align: center;

}

section > bootcamp-learning-list {
	letter-spacing: 10px;
}

#zuitt-motto {
	letter-spacing: 5px;
}

.offering-item {
	text-transform: uppercase;
}

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: #0C1446;
	width: 90%;
}


#zuitt-motto + img {
	height width: 20vh;
	border-radius: 150px;
}

#bootcamp-learning-list li{
	color: #B2D2A4;
}

form {
	text-align: center;
	background-color: seagreen;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;

}


section > form > label	{
	color: whitesmoke;
}


button {
	color: white;
	background-color: lightseagreen;
	border: 0;
	border-radius: 20px;
	padding: 3px;
	margin-top: 2px;
}